<section class="section-block fit-finder-step bra-step-1" data-step="1">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-title step-title">
                Bước 1: nhận định dáng ngực
            </h2>
            <p class="center-just">
                Theo một nghiên cứu cho thấy, họ đã khám phá một điều vô cùng thú vị đó là: ngực của phụ nữ có 7 dạng tiêu biểu. Việc xác định đúng hình dáng ngực sẽ giúp bạn lựa chọn nội y chính xác với kích cỡ tự nhiên và không ảnh hưởng đến sức khỏe cơ thể. Bạn hãy chọn dáng ngực phù hợp với bạn bằng cách chọn vào Ô bên dưới mỗi hình:
            </p>
        </div>
        <div class="section-content">
            <div class="fit-steps-block">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="ngucquachuong">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực quả chuông</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/1.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Là dạng ngực trĩu nặng với khe ngực hẹp, phần trên không đầy đặn, bầu ngực trĩu xuống như hình quả chuông.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="ngucgiotnuoc">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực giọt nước</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/3.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Gần giống ngực quả chuông nhưng phần trên đầy đặn hơn và dễ xác định bằng mắt thường nhất.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="nguckhongdeu">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực không đều 2 bên</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/4.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Là ngực có một bên to hơn bên còn lại. Sự không cân xứng có thể nhận thấy rõ rệt (như trường hợp trong hình) hoặc không rõ nếu không chú ý quan sát.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="ngucdongtay">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực Đông–Tây</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/5.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Là dạng ngực trĩu nhẹ nhưng bị chếch về hai bên, đầu núm ngực đối xứng nhau, khe ngực rộng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="nguccokherong">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực có khe rộng</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/6.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Là dạng ngực có khe ngực mở rộng nhưng hai núm ngực không chếch xa như ngực đông – tây.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="ngucnho">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực nhỏ</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/7.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Là dạng ngực có phần trên rộng, phần dưới hẹp dần.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box check-card fitHeight braShape" data-product="nguclon">
                            <div class="balloon-block">
                                <h2 class="card-title title-line-block">Ngực lớn</h2>
                            </div>
                            <div class="card-img">
                                <img src="assets/images/upload/bra-step-1/2.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <p>Là ngực có dáng tròn, đầy, không bị trĩu, là khuôn mẫu cho giải phẫu thẩm mỹ ngực.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box other-result-card fitHeight">
                            <div class="theme-content">
                                <a class="card-link" href=""></a>
                                <h2 class="card-title title-line-block">Ngực dạng khác</h2>
                                <div class="card-content">
                                    <p>Bạn không tìm thấy kiểu ngực trùng khớp, vui lòng chọn để được nhận viên tư vấn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="shape-of-bra" type="hidden" name="" value="">
            </div>
            <div class="call-to-action">
                <a class="btn btn-default braPrevStep" href="javascript:void(0)"><i class="fa fa-long-arrow-left"></i> Quay lại</a>
                <a class="btn btn-primary braNextStep" href="javascript:void(0)">Bắt đầu đo size</a>
            </div>
        </div>
    </div>
</section>
