<section class="section-block fit-finder-step bra-step-4">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-title">
                Bước 2: Xác định size áo
            </h2>
            <div class="center-just">
                <p>
                    Xác định size áo bằng 3 bước đo kích thước của:
                </p>
                <ul class="font-light" style="font-size: 20px; text-align: left; display: table; margin-left: auto; margin-right: auto;">
                    <li>Dây lưng</li>
                    <li class="b">Cúp ngực</li>
                    <li>Vòng ngực</li>
                </ul>
            </div>
        </div>
        <div class="section-content">
            <div class="fit-steps-block">
                <div class="w-300">
                    <div class="card-box">
                        <div class="card-img">
                            <img src="assets/images/upload/bra-step-1/1.png" alt="bra">
                        </div>
                        <div class="card-content">
                            <p>Xác định size <strong>Vòng Ngực</strong> của áo bằng cách đo vòng lưng ngay đỉnh ngực của Quý khách</p>
                        </div>
                    </div>
                </div>
                <div class="step-list size-list rd-list skip-init">
                    <div class="size-list-w">
                        <div class="size-item rd-item">
                            <div class="size-item-w rd-item-w">
                                <div class="size-ranger"><span>80 - 84 cm</span></div>
                                <div class="size-input">
                                    <div class="radio">
                                        <input type="radio" id="" name="brasize4" value="">
                                        <label for=""></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="size-item rd-item nosize-item">
                            <div class="size-item-w rd-item-w">
                                <div class="size-ranger"><span>Số đo khác</span></div>
                                <div class="size-input">
                                    <div class="radio">
                                        <input type="radio" id="" name="brasize4" value="">
                                        <label for=""></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call-to-action">
                <a class="btn btn-primary btn-lg braPrevStep" href="">Trở về</a>
                <a class="btn btn-primary btn-lg braNextStep" href="">Tiếp theo</a>
            </div>
        </div>
    </div>
</section>
