<section class="section-block fit-finder-step bra-step-2" data-step="2">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-title">
                Bước 2: Xác định size áo ngực
            </h2>
            <div class="center-just">
                <p>
                    Xác định size áo bằng 2 bước đo kích thước ĐƠN GIẢN:
                </p>
            </div>
        </div>
        <div class="section-content">
            <div class="fit-steps-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bra-step-2-first">
                            <div class="card-box label-card">
                                <div class="balloon-block">
                                    <h2 class="card-title title-line-block">Xác định vòng lưng</h2>
                                </div>
                                <div class="card-img">
                                    <img src="assets/images/upload/bra-step-2/1.png" alt="bra">
                                </div>
                            </div>
                            <div class="one-col">
                                <div class="size-list">
                                    <div class="size-item braBandSize" data-bandsize="75">
                                        <div class="size-item-wrap">
                                            <div class="size-ranger"><span>71 - 75 cm</span></div>
                                        </div>
                                    </div>
                                    <div class="size-item braBandSize" data-bandsize="80">
                                        <div class="size-item-wrap">
                                            <div class="size-ranger"><span>76 - 80 cm</span></div>
                                        </div>
                                    </div>
                                    <div class="size-item braBandSize" data-bandsize="85">
                                        <div class="size-item-wrap">
                                            <div class="size-ranger"><span>81 - 85 cm</span></div>
                                        </div>
                                    </div>
                                    <div class="size-item braBandSize" data-bandsize="90">
                                        <div class="size-item-wrap">
                                            <div class="size-ranger"><span>86 - 90 cm</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bra-step-2-second">
                            <div class="card-box label-card">
                                <div class="balloon-block">
                                    <h2 class="card-title title-line-block">Xác định vòng ngực</h2>
                                </div>
                                <div class="card-img">
                                    <img src="assets/images/upload/bra-step-2/2.png" alt="bra">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="size-list breast-size-list disable-lock 75">
                                        <div class="size-item braBreastSize" data-bandsize="A">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>81 - 85 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="B">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>84 - 88 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="C">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>86 - 90 cm</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="size-list breast-size-list disable-lock 80">
                                        <div class="size-item braBreastSize" data-bandsize="A">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>86 - 90 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="B">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>89 - 93 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="C">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>91 - 95 cm</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="size-list breast-size-list disable-lock 85">
                                        <div class="size-item braBreastSize" data-bandsize="A">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>96 - 100 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="B">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>99 - 103 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="C">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>100 - 105 cm</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="size-list breast-size-list disable-lock 90">
                                        <div class="size-item braBreastSize" data-bandsize="A">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>91 - 95 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="B">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>94 - 98 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item braBreastSize" data-bandsize="C">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>96 - 100 cm</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="bra-band-size" type="hidden" name="" value="">
            <input id="bra-breast-size" type="hidden" name="" value="">
            <div class="result-sumary bra-result-sumary">
                <div class="result-size-block">
                    Size áo của bạn là: <span class="brand-link sizeBra"></span>
                </div>
            </div>
            <div class="info-block support-block">
                Nếu bạn có kích thước vòng lưng và vòng ngực khác các số đo tiêu chuẩn phía trên thì
                <a class="btn btn-secondary">Chat ngay với chuyên viên tư vấn</a>
            </div>
            <div class="call-to-action">
                <a class="btn btn-default braPrevStep" href="javascript:void(0)"><i class="fa fa-long-arrow-left"></i> Quay lại</a>
                <a class="btn btn-secondary chipFitFinder" href="javascript:void(0)">Đo size quần</a>
                <a class="btn btn-primary finderResult" href="javascript:void(0)">Tư vấn kết quả</a>
            </div>
        </div>
    </div>
</section>
