<section class="section-block fit-finder-step chip-step-1">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-title">
                Xác định size quần
            </h2>
            <div class="center-just">
                <p>Thực hiện theo các bước đơn giản và nhanh chóng của chúng tôi để lựa chọn size áo vừa vặn nhất cho cơ thể bạn:</p>
            </div>
        </div>
        <div class="section-content">
            <div class="fit-steps-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bra-step-2-first">
                            <div class="card-box label-card">
                                <div class="balloon-block">
                                    <h2 class="card-title title-line-block">Cách 1: Xác định theo vòng eo và vòng mông</h2>
                                </div>
                                <div class="card-img">
                                    <img src="assets/images/upload/chip-step/1.png" alt="bra">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chipSizeControl size-list" data-chipsize="M">
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>63 - 67 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>87 - 95 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>M</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="chipSizeControl size-list" data-chipsize="L">
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>68 - 72 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>92 - 100 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>L</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="chipSizeControl size-list" data-chipsize="XL">
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>73 - 77 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>97 - 105 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>XL</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bra-step-2-second">
                            <div class="card-box label-card">
                                <div class="balloon-block">
                                    <h2 class="card-title title-line-block">Cách 2: Xác định theo cân nặng </h2>
                                </div>
                                <div class="card-img">
                                    <img src="assets/images/upload/chip-step/2.png" alt="bra">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chipSizeControl size-list" data-chipsize="M">
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>40 - 45 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>M</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="chipSizeControl size-list" data-chipsize="L">
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>45 - 55 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>L</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="chipSizeControl size-list" data-chipsize="XL">
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>55 - 62 cm</span></div>
                                            </div>
                                        </div>
                                        <div class="size-item">
                                            <div class="size-item-wrap">
                                                <div class="size-ranger"><span>XL</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="size-of-chip" type="hidden" name="" value="">
            <div class="result-sumary chip-result-sumary">
                <div class="result-size-block">
                    Size quần của bạn là: <span class="brand-link sizeChip"></span>
                </div>
            </div>
            <div class="info-block support-block">
                Nếu bạn có kích thước vòng eo và vòng mông, cân nặng khác các số đo tiêu chuẩn phía trên thì
                <a class="btn btn-secondary">Chat ngay với chuyên viên tư vấn</a>
                <br>
                BẠN HÃY CHỌN Ô “TƯ VẤN KẾT QUẢ” ĐỂ ĐƯỢC TỔNG HỢP SIZE ÁO VÀ QUẦN, CÙNG VỚI ĐÓ LÀ SẼ ĐƯỢC TƯ VẤN KIỂU ÁO PHÙ HỢP VỚI DÁNG NGỰC.
            </div>
            <div class="call-to-action">
                <a class="btn btn-secondary braFitfinder" href="javascript:void(0)">Đo size áo</a>
                <a class="btn btn-primary finderResult" href="javascript:void(0)">Tư vấn kết quả</a>
                <a class="btn btn-link" href="https://mode-shop.myharavan.com/">Mua sắm</a>
            </div>
        </div>
    </div>
</section>
