<section class="section-block fit-finder-step cover-fit-step" style="display: block" data-step="0">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-title">
                cách chọn size áo ngực - quần lót phù hợp với bản thân <br> để có sức khỏe tốt, vẻ đẹp gợi cảm
            </h2>
            <div class="center-just">
                <p>
                    Bạn thường bối rối mỗi khi đi mua áo ngực và quần lót vì không rõ kích cỡ của mình? Hãy đồng hành cùng <a class="brand-link" href="#">Seduce</a> trong ứng dụng mới <span>“phương pháp chọn size áo cực chuẩn - đơn giản”</span>.
                </p>
            </div>
        </div>
        <div class="section-content">
            <div class="fit-steps-block">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box cover-card">
                            <div class="balloon-block"><span>1</span></div>
                            <div class="card-img">
                                <img src="assets/images/upload/cover-step/1.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <h2 class="card-title">nhận định dáng ngực</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box cover-card">
                            <div class="balloon-block"><span>2</span></div>
                            <div class="card-img">
                                <img src="assets/images/upload/cover-step/2.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <h2 class="card-title">xác định size áo và quần</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box cover-card">
                            <div class="balloon-block"><span>3</span></div>
                            <div class="card-img">
                                <img src="assets/images/upload/cover-step/3.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <h2 class="card-title">kết quả và tư vấn sản phẩm phù hợp</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-box cover-card">
                            <div class="balloon-block"><span>4</span></div>
                            <div class="card-img">
                                <img src="assets/images/upload/cover-step/4.png" alt="bra">
                            </div>
                            <div class="card-content">
                                <h2 class="card-title">mua sắm cùng <a class="brand-link" href="#">Seduce</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call-to-action">
                <a class="btn btn-lg btn-primary braNextStep" href="">Trải nghiệm ngay!</a>
            </div>
        </div>
    </div>
</section>
